<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-iI_3tB3TrtasXJ4YbOiR1_XbxUcSY2o</string>
	<key>GCM_SENDER_ID</key>
	<string>551145999950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masjidmobile.app</string>
	<key>PROJECT_ID</key>
	<string>masjid-mobile-b6d9f</string>
	<key>STORAGE_BUCKET</key>
	<string>masjid-mobile-b6d9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551145999950:ios:62e54bf0b2dc7d8a433d1f</string>
</dict>
</plist>
